<html>
<body>

<p>
Hello, My computer name is: <b><%= @special_name %></b>
</p>

<p>
I am running on Linux <b><%= @full_os_name %></b>
</p>

<p>
In the morning I am drinking:
<ul>
<% @drinks.sort.each do |drink| -%>
  <li><a href="<%= drink %>.html"><%= drink.capitalize %></a></li>
<% end -%>
</ul>
</p>

</body>
</html>
